body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:901px;
}
#u172 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:90px;
  height:901px;
  color:#FFFFFF;
}
#u173 {
  position:absolute;
  left:2px;
  top:442px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:70px;
}
#u174 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:90px;
  height:70px;
}
#u175 {
  position:absolute;
  left:2px;
  top:27px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:-2px;
  top:68px;
  width:90px;
  height:300px;
}
#u176_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:306px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:305px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
  color:#FFFFFF;
  text-align:center;
}
#u178_img.selected {
}
#u178.selected {
}
#u179 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u180 {
  position:absolute;
  left:0px;
  top:100px;
  width:90px;
  height:100px;
  color:#FFFFFF;
  text-align:center;
}
#u180_img.selected {
}
#u180.selected {
}
#u181 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u182 {
  position:absolute;
  left:0px;
  top:200px;
  width:90px;
  height:100px;
  color:#FFFFFF;
  text-align:center;
}
#u182_img.selected {
}
#u182.selected {
}
#u183 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Extrabold', 'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:14px;
  top:16px;
  width:64px;
  height:38px;
  font-family:'OpenSans-Extrabold', 'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  color:#FFFFFF;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u186 {
  position:absolute;
  left:246px;
  top:159px;
  width:354px;
  height:202px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
