body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1279px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:300px;
}
#u67_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:306px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:305px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u71 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:100px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u71_img.selected {
}
#u71.selected {
}
#u72 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u73 {
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:100px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u73_img.selected {
}
#u73.selected {
}
#u74 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:502px;
}
#u75 {
  position:absolute;
  left:-1px;
  top:359px;
  width:102px;
  height:502px;
}
#u76 {
  position:absolute;
  left:2px;
  top:243px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:802px;
}
#u77 {
  position:absolute;
  left:99px;
  top:59px;
  width:1181px;
  height:802px;
}
#u78 {
  position:absolute;
  left:2px;
  top:393px;
  width:1177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:48px;
  color:#E4E4E4;
}
#u79 {
  position:absolute;
  left:483px;
  top:431px;
  width:333px;
  height:58px;
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:48px;
  color:#E4E4E4;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u82 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u83 {
  position:absolute;
  left:99px;
  top:16px;
  width:230px;
  height:29px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u85 {
  position:absolute;
  left:43px;
  top:18px;
  width:15px;
  height:24px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
